body {
    margin: 0 auto;
    padding-bottom: 70px;
    box-sizing: border-box;
    font: normal 14px 'Playfair Display', serif;
    color: #626262;
    line-height: 20px;
    font-weight: 400;
}
/* HEADER */
header {
    margin-bottom: 30px;
}
ul {
    margin: 0;
    padding: 76px 0;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}
.nav-panel-item {
    display: inline-block;
    width: 160px;
}
.nav-panel-link {
    text-decoration: none;
    color: #626262;
    line-height: 24px;
    padding: 5px;
    display: block;
}
.nav-panel-link:hover,
.nav-panel-link:focus {
    color: #03a9f4;
}
/* MAIN */
main {
    margin: 0 auto;
    max-width: 900px;
    max-height: 100%;
    padding: 0;
    font-size: 0;
}
.container {
    margin-bottom: 136px;
}
.article-preview {
    margin-right: 60px;
    display: inline-block;
    width: 420px;
    vertical-align: top;
    font: normal 14px 'Playfair Display', serif; 
}
.article-preview:last-child {
margin-right: 0;
}
img {
    margin: 0 0 28px;
    padding: 0;
}
h3 {
    margin: 0 0 20px;
    padding: 0;
    text-transform: uppercase;
    font: normal 14px 'Ubuntu', sans-serif;
    color: #b4ad9e;
}
h2 {
    margin: 0 0 30px;
    padding: 0;
    font: normal 30px 'Playfair Display', serif; 
}
p {
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.load-more-btn {
    margin: 0 auto;
    padding: 16px 34px;
    display: block;
    border: solid 1px #626262;
    background: #ffffff;
    font: normal 20px 'Playfair Display', serif;
    color: #626262;
    text-align: center; 
}
