:root {
--primary-bg-color: #323232;
--secondary-bg-color: #fff;
--primary-theme-color: #1abc9c;
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Open Sans', sans-serif;
--color-white: #fff;
}
body {
    margin: 0;
    background-color: var(--secondary-bg-color);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.container {
    margin: 0 auto;
    padding: 4px;
    width: 1118px;
}

button:hover {
    cursor: pointer;
}

.logo {
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    font: normal 30px var(--primary-font);
    font-weight: 300;
    letter-spacing: -0.6px;
    color: #555252;
}
.logo::first-letter {
    color: var(--primary-theme-color);
    font: normal 30px var(--primary-font);
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 32px;
}
/* MENU */
nav {
    padding: 22px 2px;
    background-color: var(--secondary-bg-color);
    margin: 0 auto;
    width: 1118px;
}

.nav-bar {
    padding: 6px;
    float: right;
    list-style: none;
}
.nav-bar-item {
    float: left; 
}
.nav-bar-link {
    width: 86px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font: normal 14px var(--secondary-font);
    text-align: center;
    color: #0f0101;
    font-weight: 700;
    letter-spacing: -0.28px;   
}
.nav-bar-link:hover {
    color: var(--primary-theme-color);
}

.slideshow {
    background: linear-gradient(rgba(0, 0, 0, 0.52) 50%, rgba(0, 0, 0, 0.52) 100%), url("../img/walking-women.jpg") no-repeat center; 
    background-size: cover;
    min-height: 602px;
    position: relative;
}
.slideshow-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--primary-font);
}
/* HEADER-END */
main {
    background-color: #e9f0fd;
    padding: 90px 0 98px;
}
h1 {
    margin: 0 0 26px;
    font-size: 60px; 
    font-weight: 600;
    letter-spacing: -0.8px;
}
.slideshow-subtext {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.6px;
}
.slideshow-button {
    padding: 0;
    width: 104px;
    height: 104px;
    background-color: rgba(78, 198, 171, 0.63);
    border: none;
    position: absolute;
    top: 40%;
}

.slideshow-button:hover {
    background-color: #4ec6ab;
}
.button-prev {
    left: 15%;
    transform: translate(-25%,-15%);
}
.button-prev::before {
    content: "";
    display: inline-block;
    position: relative;
    border-left: 4px solid var(--color-white);
    border-bottom: 4px solid var(--color-white);
    transform: rotate(45deg);
    width: 24px;
    height: 24px;
    left: 5%;
}
.button-next {
    right: 15%;
    transform: translate(20%,-10%);
}
.button-next::before {
    content: "";
    display: inline-block;
    position: relative;
    border-top: 4px solid var(--color-white);
    border-right: 4px solid var(--color-white);
    transform: rotate(45deg);
    width: 24px;
    height: 24px;
    right: 5%;
}
/* NEW COLLECTION */
h2 {
    margin: 0 0 102px;
    color: #515151;
    font: normal 48px var(--primary-font);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    text-align: center;
    position: relative;
}
h2::after {
    content: '';
    display: block;
    width: 164px;
    height: 6px;
    background-color: var(--primary-theme-color);
    position: absolute;
    top: 76px;
    transform: translateX(-53%);
    left: 50%;
}
.product-item {
    position: relative;
    margin-right: 30px;
    float: left;
    background-color: var(--secondary-bg-color);
}
.product-item:nth-of-type(4n) {
    margin-right: 0; 
}
.product-item:hover .product-title {
    background-color: var(--primary-theme-color);
}
.product-image {
    display: block;
    width: 256px;
    height: 282px;
    object-fit: cover;
}
.product-title {
    background-color: var(--primary-bg-color);
}
.product-name {
    padding: 10px 14px 6px;
    float: left;
    text-transform: uppercase;
    color: var(--color-white);
    font: normal 18px var(--primary-font);
    font-weight: 500;
    letter-spacing: -0.36px;
}
.product-price {
    padding: 8px 12px; 
    float: right;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.44);
    color: var(--color-white);
    font: normal 18px var(--primary-font);
    font-weight: 500;
    letter-spacing: -0.36px;
}
.product-overlay {
    width: 236px;
    height: 262px;
    border: 10px solid rgba(255, 255, 255, 0.55);
    background-color: rgba(0, 0, 0, 0.55); 
    opacity: 0;
    position: absolute; 
    top: 0;
    background-clip: content-box;
}
.product-item:hover .product-overlay {
    opacity: 1;
}
.product-button-box {
    width: 166px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
i {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 30px;
    text-align: center;
}
.product-button {
    margin: 0 8px 8px 0;
    padding: 9px;
    border: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--color-white);
    text-transform: uppercase;
    float: left;
}
.product-button:nth-of-type(3n) {
    margin-right: 0;
}
.product-button:hover {
    background-color: var(--primary-theme-color);
    border: 1px solid var(--primary-theme-color);
}
.product-button-cart {
    margin: 0;
    background-color: var(--primary-bg-color)
}
.pe-7s-cart {
    float: left;
}
.cart-text {
    font: normal 14px var(--secondary-font);
    color: var(--color-white);
    float: right;
    padding: 5px 6px 0 20px;
}
/* FOOTER */
footer {
    font: normal 16px var(--secondary-font);
    text-align: center;
    color: var(--color-white);
    font-weight: 300;
    padding: 34px 0;
    background-color: var(--primary-bg-color);
}
.footer-text {
    color: #46bfa9;
}